@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/futurabt-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Futura";
  font-weight: bold;
  src: url("/fonts/futura-bold-webfont.woff2") format("woff2");
}
