@use '@/styles/variables.scss' as *;
@use '@/styles/fonts.scss';
@use '@/styles/spacing.scss';
@use './transitions.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  cursor: url('/images/cursors/cursor-24.png') 3 0, default;
}

label {
  font-weight: bold;
}

label, input, textarea {
  display: block;
  width: 100%;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;

  &:focus {
    outline: $primary-outline;
  }
}

.text-danger {
  color: #dc3545;
}

.fieldset {
  margin-bottom: 1rem;
}
